@import "../variables";

.stream {
  width: 80%;
  margin: 30px auto 0;
  .header-live {
    display: grid;
    grid-template-rows: repeat(3fr, 1fr);
    grid-auto-columns: minmax(300px, auto);
    align-items: center;
    .title {
      grid-column: 1 / 3;
      font-size: 1.2rem;
      font-weight: 600;
      span {
        margin-right: 5px;
        strong {
          color: $purple;
        }
      }
    }
    .game {
      display: flex;
      justify-content: space-between;
      grid-column: 3;
      padding: 10px 0;
      background-color: $purple;
      text-align: center;
      color: $white;
      p {
        margin-left: 10px;
        font-weight: 600;
      }
      span {
        margin-right: 10px;
        display: block;
        position: relative;
      }
    }
  }

  .stream-embed {
    display: grid;
    grid-template-rows: repeat(3fr, 1fr);
    grid-auto-columns: minmax(300px, auto);
    grid-auto-rows: minmax(450px, auto);
    align-items: center;
    .live-embed {
      grid-column: 1 / 3;
      height: 100%;
    }
    .chat-embed {
      height: 100%;
      grid-column: 3;
    }
  }

  .btns-section {
    display: grid;
    grid-template-columns: repeat(3fr, 1fr);
    grid-auto-columns: minmax(300px, auto);
    margin-top: 5px;
    .twitch-btn, .theater-mode-btn-section {
      button {
        background-color: darken($white, 5%);
        padding: 8px 15px;
        border: none;
        color: $black;
        font-size: 1.1rem;
        font-weight: 500;
        &.follow-btn {
          margin-right: 15px;
          background-color: $purple;
          color: $white;
          transition: all .4s ease-in-out;
          &:hover {
            background-color: darken($white, 5%);
            color: $purple;
            transition: all .4s ease-in-out;
          }
        }
        transition: all .4s ease-in-out;
        &:hover {
          background-color: $purple;
          color: $white;
          transition: all .4s ease-in-out;
        }
      }
    }
    .twitch-btn {
      grid-column: 1 / 3;
      .disable {
        display: none;
      }
    }
    .theater-mode-btn-section {
      margin: 0 0 0 auto;
      grid-column: 3;
    }
  }
}

@media screen and (min-width: 1540px) {
  .stream {
    .header-live {
      grid-template-rows: repeat(5fr, 1fr);
      grid-auto-columns: minmax(300px, auto);
      .title {
        grid-column: 1 / 4;
      }
      .game {
        grid-column: 5;
      }
    }
    .stream-embed {
      grid-template-rows: repeat(5fr, 1fr);
      grid-auto-columns: minmax(300px, auto);
      grid-auto-rows: minmax(650px, auto);
      .live-embed {
        grid-column: 1 / 5;
      }
      .chat-embed {
        grid-column: 5;
      }
    }
  }
}


/*
.stream {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px auto 0;
  .header-live {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      flex: 2;
      padding-bottom: 5px;
      font-size: 1.2rem;
      font-weight: 600;
      span {
        margin-right: 5px;
        strong {
          color: $purple;
        }
      }
    }
    .game {
      display: flex;
      justify-content: space-between;
      width: 300px;
      padding: 10px 0;
      background-color: $purple;
      text-align: center;
      color: $white;
      p {
        margin-left: 10px;
        font-weight: 600;
      }
      span {
        margin-right: 10px;
        display: block;
        position: relative;
      }
    }
  }
  .stream-embed {
    display: flex;
    .live-embed {
      flex: 2;
      height: 500px;
    }
  }
}

@media screen and (max-width: 981px) {
  .stream {
    width: 100%;
    .header-live {
      .title {
        flex: 3;
      }
      .game {
        display: none;
      }
    }
    .stream-embed {
      flex-direction: column;
      .live-embed {
        height: 240px;
      }
      .chat-embed {
        display: block;
        height: 500px;
      }
    }
  }
}

*/